* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #F7E9DE;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

    gap: 30px;
    font-family: 'inika';
    color: #383636;
    font-weight: 200;
    font-size: 18px;
}

.sobre {
    color: #383636;
}

.formacao {
    color: #383636;
}

.portifolio {
    color: #383636;
}

.contato {
    color: #383636;
}

.conteudo {
    border-top: 0.4px solid #502828;
    padding-top: 65px;
    padding-left: 50px;
}

.conteudo-titulo {
    display: flex;
    justify-content: flex-start;
    font-family: 'Koh Santepheap';
    color: #383636;
    font-size: 32px;
    padding-top: 50px;
    padding-left: 50px;


}

.conteudo-principal {
    display: flex;
    align-items: center;
    padding-left: 50px;

}

.conteudo-img {
    display: flex;
    padding-left: 20px;
    padding-top: 70px;

}
